In [2]:
#since elements cannot be added or changed and the order can also not be changed , so it works well for representing data structure 
#the positions gave the meaning, so it's a light weight data structure 
london=('london','UK',8780000)
new_york=('New York','USA',8500000)
beijing=('Beijing','China',21000000)

#the tuples are 不同类的 heterogeneous
cities=[('london','UK',8780000),('New York','USA',8500000),('Beijing','China',21000000)]
total_population=0
for city in cities:
    total_population+=city[2]
print(total_population)

#太巧妙了
total=sum(city[2] for city in cities)
print(total)

38280000
38280000

In [ ]:
#unpack the tuple

In [ ]:
#packing: pack three variables into a tuple
new_york=('New York','USA','8500000')

#unpack
city,country,population=new_york

In [ ]:
#dummy variables
city,_,population=('Beijing','China',21000000)

#其实也可以写成这样
city,ignored,population=('Beijing','China',21000000)

In [1]:
#extended unpacking
record=('DJIA',2018,1,19,25987.35,26017.72,25942.83,26071.72)

#中间的不想要，只想要两边的，怎么unpacking ?
symbol,year,month,day,*_,close=record
print(symbol)
print(year)
print(month)
print(day)
print(close)

DJIA
2018
1
19
26071.72

In [3]:
a=1,2,3,4,5
x,*other,y,z=a
x,y,z

(1, 4, 5)

In [4]:
other  #it is still a tuple, it is also a variable

[2, 3]

In [ ]:
#tuple里面的元素不能改变，并不意味着其元素里面的东西不能变

In [3]:
#enumerate a tuple, each item is a tuple
for item in enumerate(cities):
    print(item)

(0, ('london', 'UK', 8780000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [4]:
 #since the enumerate returns a tuple, we can separate the index and the value
for index,city in enumerate(cities):
    print(index,city)

0 ('london', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [5]:
#use tuples to return the results in a function 
#approximate the pi
from random import uniform
from math import sqrt
def random_shot(radius):
    random_x=uniform(-radius,radius)
    random_y=uniform(-radius,radius)
    if sqrt(random_x**2+random_y**2)<=radius:
        is_in_circle=True
    else:
        is_in_circle=False
    return random_x,random_y,is_in_circle

num_attempts=100
count_inside=0
for i in range(num_attempts):
    *_,is_in_circle=random_shot(1)  #因为原函数返回的是一个tuple,所以这里解析tuple
    if is_in_circle:
        count_inside+=1
print(f'pi is approximately:{4*count_inside/num_attempts} ')

pi is approximately:3.0

In [ ]:
#***************************************named tuples*****************************************

In [ ]:
#named tuples are subclass of tuples, 
#lcoated in standard library module, namedtuple is function,this function generates a new class, the class inherits from the class
#nametuple needs the class name we want to use, and a sequence of field names we want to assign, in the order of the elements in the tuple
#the return value will be a class

In [1]:
from collections import namedtuple
Point2D=namedtuple('Point2D','xy')

#then we can create an object from it 
#positional arguments
pt1=Point2D(10,20)

#keyword arguments
pt2=Point2D(x=10,y=20)

TypeError: __new__() takes 2 positional arguments but 3 were given

In [ ]:
#accessing data in a named tuple

#1. treat it as a tuple
#isintstance(pt1,tuple) 这个方法蛮好的，但是直接print type不就行了吗

#1.1for tuple,we can indexing, slicing, pakcing and unpacking


#1.2 accessing it by field names

In [ ]:
#～～～～～～～～～～～～～～～～～～～～～code along～～～～～～～～～～～～～～～～～～～～～～··

In [14]:
class Point3D:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
#if we want to have a datastructure that has names and values, we need to

In [15]:
from collections import namedtuple
Point2D=namedtuple('Point2D',['x','y'])
pt1=Point2D(10,20)
pt1

Point2D(x=10, y=20)

In [16]:
Pt2D=namedtuple('Point2D',('x','y'))
pt2=Pt2D(10,20)
pt2

Point2D(x=10, y=20)

In [19]:
isinstance(pt2,tuple)

True

In [17]:
Pt3D=Point3D
p=Pt3D(10,20,30)
p

In [20]:
isinstance(p,tuple)

False

In [21]:
#since namedtuple is a tuple, we can find out the max and min of the tuple
max(pt2)

20

In [22]:
#but the class is not a tuple, so if our class restores many data,we should use namedtuples to get more free functions 
min(p)

TypeError: 'Point3D' object is not iterable

In [1]:
from collections import namedtuple
Circle=namedtuple('Circle','center_x center_y  radius')
c=Circle(0,0,10)
c

Circle(center_x=0, center_y=0, radius=10)

In [ ]:
#we have two ways to get access to the value of named tuples

In [2]:
c.radius

10

In [3]:
c[2]

10

In [5]:
Stock=namedtuple('Stock','''symbol
                                        year
                                        month
                                        day
                                        open
                                        high
                                        low
                                        close''')

In [28]:
djia=Stock('DIJA',2018,1,25,26_313,26_458,26_260,26_393)
djia

Stock(symbol='DIJA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [29]:
djia.close

26393

In [30]:
#extended unpacking the tuple
symbol,year,month,*_,close=djia

In [31]:
symbol

'DIJA'

In [32]:
year

2018

In [33]:
month

1

In [34]:
close

26393

In [35]:
symbol,year,month,close

('DIJA', 2018, 1, 26393)

In [36]:
print(_)

[25, 26313, 26458, 26260]

In [37]:
d=djia._asdict()
d

OrderedDict([('symbol', 'DIJA'),
             ('year', 2018),
             ('month', 1),
             ('day', 25),
             ('open', 26313),
             ('high', 26458),
             ('low', 26260),
             ('close', 26393)])

In [38]:
#convert ordered dict to dict
dict(d)

{'symbol': 'DIJA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [39]:
d['symbol']

'DIJA'

In [40]:
for item in djia:
    print(item)

DIJA
2018
1
25
26313
26458
26260
26393

In [41]:
Person=namedtuple('Person','name age _ssn',rename=True)  #_表示这个值是可以改变的

In [42]:
Person._fields

('name', 'age', '_2')

In [43]:
Person._source

"from builtins import property as _property, tuple as _tuple\nfrom operator import itemgetter as _itemgetter\nfrom collections import OrderedDict\n\nclass Person(tuple):\n    'Person(name, age, _2)'\n\n    __slots__ = ()\n\n    _fields = ('name', 'age', '_2')\n\n    def __new__(_cls, name, age, _2):\n        'Create new instance of Person(name, age, _2)'\n        return _tuple.__new__(_cls, (name, age, _2))\n\n    @classmethod\n    def _make(cls, iterable, new=tuple.__new__, len=len):\n        'Make a new Person object from a sequence or iterable'\n        result = new(cls, iterable)\n        if len(result) != 3:\n            raise TypeError('Expected 3 arguments, got %d' % len(result))\n        return result\n\n    def _replace(_self, **kwds):\n        'Return a new Person object replacing specified fields with new values'\n        result = _self._make(map(kwds.pop, ('name', 'age', '_2'), _self))\n        if kwds:\n            raise ValueError('Got unexpected field names: %r' % list(kwds))\n        return result\n\n    def __repr__(self):\n        'Return a nicely formatted representation string'\n        return self.__class__.__name__ + '(name=%r, age=%r, _2=%r)' % self\n\n    def _asdict(self):\n        'Return a new OrderedDict which maps field names to their values.'\n        return OrderedDict(zip(self._fields, self))\n\n    def __getnewargs__(self):\n        'Return self as a plain tuple.  Used by copy and pickle.'\n        return tuple(self)\n\n    name = _property(_itemgetter(0), doc='Alias for field number 0')\n\n    age = _property(_itemgetter(1), doc='Alias for field number 1')\n\n    _2 = _property(_itemgetter(2), doc='Alias for field number 2')\n\n"

In [44]:
#～～～～～～～～～～～～～～～～～～～～Modifying and Extending～～～～～～～～～～～～～～～～～～·

In [45]:
#namedtuple has _replace() method 
Stock=namedtuple('Stock','''symbol
                                        year
                                        month
                                        day
                                        open
                                        high
                                        low
                                        close''')
djia=Stock('DIJA',2018,1,25,26_313,26_458,26_260,26_393)
djia

Stock(symbol='DIJA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [46]:
#change two values of a tuple
djia=djia._replace(day=26,high=26_459,close=26_394)
djia

Stock(symbol='DIJA', year=2018, month=1, day=26, open=26313, high=26459, low=26260, close=26394)

In [47]:
#so a tuple can actually be changed

In [48]:
#Extending a namedtuple
Stock=namedtuple('Stock','''symbol
                                        year
                                        month
                                        day
                                        open
                                        high
                                        low
                                        close''')
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [50]:
new_fields=Stock._fields+('previous_close',)

In [51]:
StockExt=namedtuple('StockExt',new_fields)

__main__.StockExt

In [52]:
#but we have extended the StockExt, we have not extended the value yet
djia=Stock('DIJA',2018,1,25,26_313,26_458,26_260,26_393)
djia_ext=StockExt(*djia,26_000)
djia_ext

StockExt(symbol='DIJA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393, previous_close=26000)

In [ ]:
#厉害啊，这就是在原来的基础上添加
#we can also use _make()

In [53]:
djia_ext=StockExt._make(djia+(26_000,))
djia_ext

StockExt(symbol='DIJA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393, previous_close=26000)

In [54]:
*values,_=djia
values

['DIJA', 2018, 1, 25, 26313, 26458, 26260]

In [56]:
values.append(26_393)

In [57]:
#values is a list,we need to unpack it if we want to put it into the Stock()
Stock(*values)

Stock(symbol='DIJA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [ ]:
#～～～～～～～～～～～～～～～～～～～～～default docs for named tuples～～～～～～～～～～～～～～～～～～～～～～··

In [62]:
from collections import namedtuple
Point2D=namedtuple('Point2D','x y')

In [63]:
Point2D.__doc__

'Point2D(x, y)'

In [64]:
Point2D.x.__doc__

'Alias for field number 0'

In [65]:
Point2D.y.__doc__

'Alias for field number 1'

In [ ]:
#we can change the doc

In [ ]:
Point2D.__doc__='represents a 2D cartesian coordinate '

In [ ]:
Point2D.x.__doc__='x coordinate'

In [ ]:
Point2D.x.__doc__='y coordinate'

In [ ]:


#then we can create an object from it 
#positional arguments
pt1=Point2D(10,20)

#keyword arguments
pt2=Point2D(x=10,y=20)

In [66]:
#using a prototype
Vector2D=namedtuple('Vector2D','x1 x2 y1 y2 origin_x origin_y')
vector_zero=Vector2D(0,0,0,0,0,0)
vector_zero

Vector2D(x1=0, x2=0, y1=0, y2=0, origin_x=0, origin_y=0)

In [67]:
v1=vector_zero._replace(x1=10, x2=10, y1=20, y2=20)
v1

Vector2D(x1=10, x2=10, y1=20, y2=20, origin_x=0, origin_y=0)

In [69]:
#using __defaults__
Vector2D=namedtuple('Vector2D','x1 x2 y1 y2 origin_x origin_y')
Vector2D.__new__.__defaults__=(0,0) #因为这里只是给了最后2个值，所以只有最后两个值是default

AttributeError: type object 'Vector2D' has no attribute '__defaults__'

In [71]:
v1=Vector2D(10,10,20,20)
v1

Vector2D(x1=10, x2=10, y1=20, y2=20, origin_x=0, origin_y=0)

In [ ]:
#***************************************Application：return multiple values*****************************************

In [77]:
#设置一个程序会产生random color
from random import randint,random
from collections import namedtuple

In [78]:
def random_color():
    red=randint(0,255)
    blue=randint(0,255)
    green=randint(0,255)
    alpha=round(random(),2)
    return red,blue,green,alpha
#这个函数的return值其实是一个tuple, so we can unpack it

In [79]:
color=random_color()
red,blue,green,alpha=color

In [80]:
red

158

In [81]:
green

172

In [82]:
blue

254

In [83]:
alpha

0.53

In [85]:
#we can also use a namedtuple
Color=namedtuple('Color','red green blue alpha')
def random_color():
    red=randint(0,255)
    blue=randint(0,255)
    green=randint(0,255)
    alpha=round(random(),2)
    return Color(red,blue,green,alpha)

In [86]:
color=random_color()
color  #this color is a named color

Color(red=206, green=149, blue=78, alpha=0.98)

In [ ]:
#***************************************Application：alternative to dictionaries*****************************************

In [2]:
data_dict=dict(key1=100,key2=200,key3=300)

In [3]:
from collections import namedtuple
Data=namedtuple('Data','key1 key2 key3')

In [4]:
#这个dict算是比较小的，对于更多数据的dict，我们可以用下面的方法来创建namedtuple
Data=namedtuple('Data',data_dict.keys()) #而且这个key还是排好序的

In [5]:
#创建好namedtuple之后，就开始创建下面的object了,同样也可以用原来的dict方法来取值，但是要unpack
data_dict.values()

dict_values([100, 200, 300])

In [8]:
d1= Data(*data_dict.values())
d1

Data(key1=100, key2=200, key3=300)

In [9]:
#但是如果要变化key的位置的话，只能自己输入了
d2=Data(key1=10,key3=30,key2=20)
d2

Data(key1=10, key2=20, key3=30)

In [11]:
key_name='key2'
getattr(d2,key_name)

20

In [12]:
data_dict.get('key2')

200

In [ ]:
data_dict.get('key10',None) #这个的意思就是如果key不存在的话，就返回None，如果没有这个的话，就会报错

In [13]:
getattr(d2,'key10',None)

In [10]:
#we can also unpack the dict directly
d3=Data(**data_dict)
d3

Data(key1=100, key2=200, key3=300)

In [14]:
#为什么要把dict 变成 namedtuple ? 还有一个原因就是便于取值
data_dict['key2']

200

In [15]:
d1.key2  #这里的取值方式就不是传统的indexing的方式，而是attributes的方式

200

In [ ]:
#一个namedtuple就很像一个dictionary，但是为什么要把dict变成namedtuple

In [10]:
#consider that we have a list of dictonaries 
data_list=[
{'key1':1,'key2':2},
    {'key1':1,'key2':4},
    {'key1':5,'key2':6,'key3':7},
    {'key2':100}
]

#这里面的dictionary 的结构并不是一致的，我们可不可以把它变成一个namedtuple， 然后里面的dictionary是结构一致的？

In [11]:
keys=set()
for d in data_list:
    for key in d.keys():  #这个有点神奇
        keys.add(key)
print(keys)

'''
这里比较重要的是keys是一个set，所以不会有重复的值
'''

{'key2', 'key3', 'key1'}

'\n这里比较重要的是keys是一个set，所以不会有重复的值\n'

In [14]:
#we can write in a comprehensive way 
ks={key for dict_ in data_list for key in dict_.keys()}
print(ks)

{'key2', 'key3', 'key1'}

In [16]:
#create a namedtuple
from collections import namedtuple
struct = namedtuple('struct',sorted(ks))
struct.__new__.__defaults__=(None,)*len(struct._fields)  #为什么要在这里设置defaults

In [17]:
struct(key3=10)

struct(key1=None, key2=None, key3=10)

In [18]:
tuple_list=[]
for dict_ in data_list:
    tuple_list.append(struct(**dict_))
print(tuple_list)

[struct(key1=1, key2=2, key3=None), struct(key1=1, key2=4, key3=None), struct(key1=5, key2=6, key3=7), struct(key1=None, key2=100, key3=None)]

In [22]:
#用更完整的方式写出来
def tuplify_dicts(dicts):
    ks={key for dict_ in data_list for key in dict_.keys()}
    struct = namedtuple('struct',sorted(ks),rename=True)
    struct.__new__.__defaults__=(None,)*len(struct._fields)
    return [struct(**dict_) for dict_ in dicts]

In [23]:
tuple_list=tuplify_dicts(data_list)
tuple_list

[struct(key1=1, key2=2, key3=None),
 struct(key1=1, key2=4, key3=None),
 struct(key1=5, key2=6, key3=7),
 struct(key1=None, key2=100, key3=None)]